<!--  twitter  -->
<div class="ui label">
<a
  href="https://twitter.com/share"
  class="twitter-share-button"
  data-count="none"
  data-lang="ja"
>ツイート</a>
</div>

<!--  はてブ  -->
<div class="ui label">
<a
  href="http://b.hatena.ne.jp/entry/（※対象URL）"
  class="hatena-bookmark-button"
  data-hatena-bookmark-title="（※ブックマーク名）"
  data-hatena-bookmark-layout="standard"
  title="このエントリーをはてなブックマークに追加"
><img
  src="http://b.st-hatena.com/images/entry-button/button-only.gif"
  alt="このエントリーをはてなブックマークに追加"
  width="20"
  height="20"
  style="border: none;" 
/></a>
</div>

<!--  facebook  -->
<div style="margin-top: -20px;" class="fb-like ui label" data-href="http://ruppish.com/microposts/<%= event.id %>" data-width="100px" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
<!--  google +   -->
<div class="ui label"><g:plusone></g:plusone></div>