@import "semantic-ui";

.d_inline {
	display: inline-block;
	background-color: red;
}

.m_left_40 {
    margin-left: 35px;
}
.m_left_ {
    margin-left: 20px;
}

.h_100 {
    height: 100px;
}

body {
 background-color: #f2f2f2;
}

.container {
  margin: 0 auto;
  padding: 40px;
  width: 80%;
  color: #333;
  background: #419be0;
}

.slick-slide {
  text-align: center;
  color: #419be0;
  background: white;
}

.pa_2 {
 padding: 5px;
}